.dispacther-page-mytask {
	height: 100%;
	.first-text {
		padding : 11px 14px;
	}
	.second-text{
		margin-bottom: 21px;
	}
	.content{
	    position: relative;
	    top: 100px;
	    width: 70%;
	    margin: 0 auto;
	}
	.download-btn{
		width : 100px;
	}
	.input-warper{
		width : 80%;
		margin: 0 auto;
	}
	.bar{
		margin-top: 30px;
	}
	.info-wrapper{
		margin-top:25px;
		margin-left :10%;
		.error-info{
			color : red ;
		}
		.warn-info{
			color : #f36a5a;
		}
	}
}